@import "../../styles/variables.scss";

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 305px;
  height: 320px;
  padding: 10px;
  background: #ffffff;
  border-radius: $radius;

  .image-container {
    position: relative;
    width: 282px;
    min-height: 150px;
    border-radius: $radius;

    .image {
      border-radius: $radius;
    }

    .discount {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 10px;
      right: 10px;
      padding: 4.5px 16px;
      border-radius: calc($radius * 2);
      font-weight: 600;
      font-size: 14px;
      color: #ffffff;
      background-color: $bg-blue;
    }
  }
}
