@import "swiper/swiper-bundle.min.css";
@import "swiper/swiper.min.css";

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}
